.wrapper-table-main {
    thead th {
        text-align: center;
        background-color: #b1b1b1;
    }
    tbody {
        td img:last-child{
            width: 20px;
            cursor: pointer;
            user-select: none;
        }
    }
}
.wrapper-detail-table {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 450px;
    min-width: 320px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    z-index: 3;
    .title-detail-product {
        font-weight: bold;
    }
    .sub-detail-product div {
        font-weight: bold;
    }
    .sub-detail-product span {
        font-weight: normal;
    }
}
.overlay-detail-table {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}